.parent {
  height: 100%;
  width: 100%;
  padding: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 16px;
  height: 16px;
}

.loader:after, .loader:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  animation: spinner-move 0.5s backwards, spinner-transform 1.25s 0.5s infinite ease;
  border: 4px solid var(--color-bg-secondary);
  border-radius: 50%;
  box-shadow: 0 -24px 0 -4px var(--color-bg-secondary);
  position: absolute;
}

.loader:after {
  animation-delay: 0s, 1.25s;
}

@keyframes spinner-move {
  from {
    box-shadow: 0 0 0 -4px var(--color-bg-secondary);
  }
}

@keyframes spinner-transform {
  to {
    transform: rotate(360deg);
  }
}
