.container {
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  display: block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: var(--color-text-light);
  text-align: left;
  margin-bottom: 4px;
}

.password-toggle {
  position: relative;
}

.inputWrapper {
  position: relative;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.toggleButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  border-color: #FF2056;
}

.errorMessage {
  color: #FF2056;
  font-size: 12px;
  text-align: left;
  display: block;
  margin-top: 4px;
}
