.table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 768px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  font-size: 22px;
  line-height: 24px;
  border-bottom: 1px solid var(--color-border-gray-2);
  padding-bottom: 16px;
}

.label {
  font-weight: 400;
  margin: 0;
  font-size: 16px;
  color: var(--color-text-secondary);
  opacity: .6;
}

.value {
  text-align: right;
}
