.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.wrapper {
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background: white;
  z-index: 51;
}

.title {
  font-family: var(--font-base), sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-text-base);
}

.item {
  @media (hover:hover) {
    &:hover {
      color: var(--color-text-base-hover);
    }
  }

  @media (hover:none) {
    &:active {
      color: var(--color-text-base-hover);
    }
  }
}

.active {
  color: var(--color-text-base-hover);
  pointer-events: none;
  touch-action: none;
  cursor: default;
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}
