.detail {
  display: block;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 768px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 16px;
  font-size: 22px;
  line-height: 24px;
  border-bottom: 1px solid var(--color-border-gray-2);
  padding-bottom: 16px;
}

.label {
  font-weight: 400;
  margin: 0;
  font-size: 16px;
  color: var(--color-text-secondary);
  opacity: .6;
}

.photo {
  display: flex;
  height: 400px;
  width: auto;
  object-fit: contain;
}

.value {
  text-align: right;
}

.sum {
  font-size: 40px;
  line-height: 50px;
  color: orange;
  margin-bottom: 24px;
}

.name {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 16px;
}

.desc {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 20px;
}
