.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg-primary-transparent);
}

.content {
  position: relative;
  width: 736px;
  max-height: calc(100vh - 96px);
  overflow-y: auto;
  background: var(--color-bg-white);
  padding: 32px;
  border-radius: 10px;
  z-index: 1100;
  text-align: center;
  color: var(--color-text-base);
}

.wrapper {
  min-height: 100px;
}

.title {
  text-align: center;
  margin: 0 0 40px;
  font-size: 24px;
}

.text {
  margin-bottom: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: var(--color-bg-secondary);
  border: none;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s linear color;
}

.close:hover {
  color: var(--color-bg-secondary-hover);
}
