.container {
  max-width: 1276px;
  padding-top: 64px;
  margin: 0 auto;
}

.header {
  color: #2c3e50;
  border-bottom: 1px solid var(--color-border-gray);
  text-align: center;
}

.title {
  color: var(--color-text-base);
}
