.submenu {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  border-bottom: 1px solid var(--color-border-gray);
  margin-bottom: 24px;
  position: sticky;
  top: 54px;
  z-index: 50;
  background: white;
}
