.item {
  padding: 24px;
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  height: 100%;
  border: 1px solid var(--color-border-gray);
  position: relative;
  overflow: hidden;
  transition: border-color ease-in-out .35s, box-shadow ease-in-out .35s;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category {
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text-gray);
}

.date {
  text-align: end;
  font-size: 14px;
  line-height: 18px;
  color: var(--color-text-gray);
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
  gap: 16px;
}

.photo {
  display: flex;
  width: 48px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.name {
  font-size: 32px;
  line-height: 40px;
}

.desc {
  font-size: 16px;
  line-height: 20px;
}

.amount {
  font-size: 20px;
  line-height: 32px;
  color: var(--color-text-secondary);
  position: absolute;
  bottom: -1px;
  right: -1px;
  border: 1px solid var(--color-border-gray);
  padding: 0 8px;
}

@media (hover: hover) {
  .item:hover {
    border-color: var(--color-primary-hover);
  }
}
